.products
  p
    padding: 2em 2em 0 2em

ul.imagegrid
  list-style: none
  width 100%
  margin-right: 2em
  li
    margin: 0
    padding: 0
    float: left
    width: 50%
    img
      max-width: 100%
    &:nth-child(even)
      float: left
    &:nth-child(odd)
      float: right

@media only screen and (min-width: 600px)
  ul.imagegrid
    padding: 0
    > li
      float: none
      width: auto
      height: auto
      position: absolute
      top: 0
      left: 0
      &:nth-child(even)
        img
          float: none
          top: 0
      img
        width: pxtoem(240px, 16px)
        max-width: 100%
        opacity: 0

  body img.animated_image
    position: absolute
    width: pxtoem(240px, 16px)
    height: pxtoem(240px, 16px)
    max-width: 100%
    opacity: 0


