/
  Hello, my source viewing friend!
  You can check out the source at https://github.com/philoye/oyemodern-rip

%meta{ :charset => 'utf-8' }
%meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1' }
